body{
    background-color:brown;
}
.container{
    background-color:bisque;
    width: 40%;
    height: 80vh;
    border-radius: 20px;
    padding: 7px;
    margin: auto;
    vertical-align: middle;
    margin-top: 50px;
    cursor: pointer;
}
h1{
    text-align: center;
}
#disitems{
    text-align: center;
}
